@import "../../../../../libraries/twbs/scss/functions";
@import "../../../../../libraries/twbs/scss/variables";
@import "../../../../../libraries/twbs/scss/_mixins";
@import "../_global/global";
//@import "../../../../../libraries/twbs/scss/mixins/breakpoints";
@import "../../../../../libraries/twbs/scss/breadcrumb";

.blog-image {
    img {
        aspect-ratio: 6/4;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
        border-radius: 1rem;
    }
}
.full-breadcrumb {
    background-color: $slider-bg;
    line-height: 18px;
    .breadcrumb {
        margin-bottom: 0;
    }
}

.blog-list-link {
    a {
        color: $headings-color;
        text-decoration: none;
        font-family: $font-blog-link;
        font-size: $h6-font-size;
        font-weight: bold;
    }
}
.alparslan-blog-list {
    img {
        &:hover {
            opacity: 0.6;
        }
    }
    .blog-list-link {
        font-family: $font-family-base;
    }
}

.blog {
    img {
        &:hover {
            opacity: 0.6;
        }
    }
}

.blog-content {
    p {
        font-family: $font-blog-link;
        font-size: 20px;
        font-weight: $nav-tab-font-weight;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}
.hero-image {
    background-position: center;
    min-height: 33.33vh;
}
