@font-face {
	font-family: "AvenirNext";
	font-display: auto;
	font-weight: 400;
	src: url(/themes/custom/alparslan/fonts/AvenirNext-Regular.woff) format("woff2"),
		url(/themes/custom/alparslan/fonts/AvenirNext-Regular.woff2) format("woff");
}
@font-face {
	font-family: "Kapra Neue";
	font-display: auto;
	font-weight: 400;
	src: url(/themes/custom/alparslan/fonts/KapraNeueRegular.woff) format("woff2"),
		url(/themes/custom/alparslan/fonts/KapraNeueRegular.woff2) format("woff");
}
@font-face {
	font-family: "Avenir Bold";
	font-display: auto;
	font-weight: 400;
	src: url(/themes/custom/alparslan/fonts/AvenirNext-DemiBold.woff)
	format('woff');
	}
