{{ attach_library('alparslan/blog') }}
<div class="row">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'col-lg-6 col-md-6 col-sm-12 mb-5',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}
 </div>