{{ attach_library('alparslan/video_paragraph') }}
<div class="thumbnail">
	<a href="#"  data-bs-toggle="modal" data-bs-target="#videoModal">
		<span class="play"></span>
		{{(content.field_video_thumb) }}
	</a>
</div>
<div class="modal fade" id="videoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<a href="#"  class="close-icon" data-bs-dismiss="modal" aria-label="Close"></a>
			<div class="modal-body p-0">
				<div class="ratio ratio-16x9">
					{{(content.field_media_video_file )}}
				</div>
			</div>
		</div>
	</div>
</div>
