@import "../../../../../libraries/twbs/scss/functions";
@import "../../../../../libraries/twbs/scss/variables";
@import "../_global/global";
@import "../../../../../libraries/twbs/scss/mixins/border-radius";
@import "../../../../../libraries/twbs/scss/mixins/box-shadow";
@import "../../../../../libraries/twbs/scss/mixins/breakpoints";
@import "../../../../../libraries/twbs/scss/mixins/image";

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f9f9f9;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
}
.card-text:last-child {
    margin-bottom: 0;
}
@each $key, $val in $brand-colors {
	.bg-#{$key} {
		background-color: #{$val};
	}
}
@include media-breakpoint-up(lg){
.card{
    height: 100%!important;
}
}
.card{
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    background-color: map-get($brand-colors, cream);
    .img-fluid{
        padding: 1rem;
    }
}
