@import "../../../../../libraries/twbs/scss/functions";
@import "../../../../../libraries/twbs/scss/variables";
@import "../_global/global";
@import "../../../../../libraries/twbs/scss/mixins/border-radius";
@import "../../../../../libraries/twbs/scss/mixins/box-shadow";
@import "../../../../../libraries/twbs/scss/mixins/breakpoints";
@import "../../../../../libraries/twbs/scss/mixins/image";
@import "../../../../../libraries/twbs/scss/card";

@each $key, $val in $brand-colors {
	.bg-#{$key} {
		background-color: #{$val};
	}
}
@include media-breakpoint-up(lg){
.card{
    height: 100%!important;
}
}
.card{
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    background-color: map-get($brand-colors, cream);
    .img-fluid{
        padding: 1rem;
    }
}
.section-card-bg {
    .card{
        margin-left: 15px;
    }
    .card-body{
        padding: 1rem 0.8rem;
    }
    h4 {
        font-size: $font-size-9;
    }
    padding-left: 2rem;
    background-color: map-get($brand-colors, "gray");
    .icon {
        height: 112px;
        width: 112px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-text {
        color: rgb(64, 64, 64);
        font-family: $font-family-nav;
        font-size: $font-size-7;
        line-height: 1.25rem;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        p {
            text-align: center;
        }
        h4{
            font-weight:$font-weight-bold;
        }
    }
}
