<div{{attributes.addClass("col-sm-12 col-md-6 col-lg-6 g-0")}}>
	<div class="footer-social">
		{% block content %}
		<div class="footer-align-item">
			{{ content }}
			</div>
		{% endblock %}
	</div>
</div>
